<div class="py-3 text-sm">
  {{#each @model as |repo|}}
    <div
      class="flex justify-start cursor-pointer text-gray-700 hover:text-blue-400 hover:bg-blue-100 rounded-md px-2 py-2 my-2"
    >
      <span class="bg-green-600 h-2 w-2 m-2 rounded-full min-w-[0.5rem]"></span>
      <div class="grid w-full gap-2">
        <div class="row text-left">
          <a
            class="flex-grow font-mono px-2 text-left"
            target="_blank"
            href="https://github.com/{{repo.login}}/{{repo.name}}"
            rel="noopener noreferrer"
          >{{repo.name}}</a>
        </div>
        {{#if repo.description}}
          <div class="row text-left">
            <div
              class="pl-4 text-sm font-normal text-gray-500 tracking-wide"
            >{{repo.description}}</div>
          </div>
        {{/if}}
      </div>
    </div>
  {{else}}
    <div class="rounded-md bg-blue-50 p-4">
      <div class="flex">
        <div class="ml-3 flex-1 md:flex md:justify-between">
          <p class="text-sm text-blue-700">
            no data to show
          </p>
        </div>
      </div>
    </div>
  {{/each}}
</div>